[submodule "application/src/generic"]
	path = application/src/generic
	url = https://github.com/strawberryhacker/vanilla-app-generic
[submodule "application/src/system"]
	path = application/src/system
	url = https://github.com/strawberryhacker/vanilla-app-system
[submodule "apps/tictactoe/src/generic"]
	path = apps/tictactoe/src/generic
	url = https://github.com/strawberryhacker/vanilla-app-generic
[submodule "apps/tictactoe/src/system"]
	path = apps/tictactoe/src/system
	url = https://github.com/strawberryhacker/vanilla-app-system
[submodule "apps/template/src/generic"]
	path = apps/template/src/generic
	url = https://github.com/strawberryhacker/vanilla-app-generic
[submodule "apps/template/src/system"]
	path = apps/template/src/system
	url = https://github.com/strawberryhacker/vanilla-app-system
